%div.page-header.grid_12
  %h2
    Attendees
    %span.prefix_4
      = link_to 'Add Attendee', new_attendee_path, class: 'btn primary small extrapad'
%div#companies
  %table.attendees-table
    %thead
      %tr
        %th Name
    %tbody
      %tr
        %td JSON
