%div.form.grid_12
  = form_for @attendee do |f|
    %fieldset
      %legend Register Attendee
      = render partial: 'form', locals: { f: f }
      .actions
        = f.submit 'Register Attendee', class: 'btn primary'
