.grid_12
  %h1= @msg
  %p
    Please login to start adding attendees and to configure the application.
  %p
    %strong Configuration overview:
    %ul
      %li First, configure your registration types if applicable.
      %li
        Then configure your Preferences. Here you may set if you need namebadges printed and what fields to print in such namebadge.
        Also, you may opt to include a QRCode printed in the namebadge and which fields you need in the QRCode.
      %li Set your namebadge properties if applicable.
      %li Import your previous registered attendees via a csv file. Please refer to instructions on the Import page.
