%div.page-header.grid_12
  %h2
    Companies
    %small.prefix_4
      = link_to 'Add Company', new_company_path, class: 'btn primary small'
%div#companies
  %table.companies-table.zebra-striped
    %thead
      %tr
        %th Name
    %tbody
      = render @companies
