%div.page-header.grid_12
  %h2
    Companies
    %span.prefix_4
      = link_to 'Add Company', new_company_path, class: 'btn primary small extrapad'
%div#companies
  %table.companies-table
    %thead
      %tr
        %th Name
    %tbody
      %tr
        %td JSON
